<div class="row justify-content-center align-items-center h-100vh">
    <div class="col-md-6">
        <div class="box-middel-center">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h3>Set new Passsword</h3>
                <label class="label-input">
                    <div class="text-label">New password</div>
                    <p-password [toggleMask]="true" [(ngModel)]="model.newPassword" formControlName="newPassword"></p-password>
                    <div *ngIf="(f['newPassword'].dirty || f['newPassword'].touched || submitted) && f['newPassword'].invalid"
                        class="text-danger">
                        <div *ngIf="f['newPassword'].errors?.['required']">
                            Password is required
                        </div>
                    </div>
                </label>
                <label class="label-input">
                    <div class="text-label">Confirm password</div>
                    <p-password [toggleMask]="true" [(ngModel)]="model.confirmPassword" formControlName="confirmPassword"></p-password>
                    <div *ngIf="(f['confirmPassword'].dirty || f['confirmPassword'].touched || submitted) && f['confirmPassword'].invalid"
                        class="text-danger">
                        <div *ngIf="f['confirmPassword'].errors?.['required']">
                            Password is required
                        </div>
                        <div *ngIf="f['confirmPassword'].errors?.['confirmPasswordValidator'] && submitted">
                            Passsword and Confirm Password didn't match.
                        </div>
                    </div>
                </label>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
<p-toast position="bottom-right"></p-toast>