#menu {
    width: 64px;
    min-height: 100vh;
    overflow: hidden;
}

.bg-main-menu {
    position: fixed;
    min-height: 100vh;
    background: #000000DE;
}

.nav-link {
    color: #FFFFFF;
}

.nav-link i.pi {
    font-size: 20px;
}

.logo-main-menu {
    margin-top: 20px;
}

.primary--sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    flex-shrink: 0;
    width: 70px;
}

.title-menu {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin: 32px 20px;
}

.avatar-main-menu {
    width: auto;
    height: 45px;
    border-radius: 50%;
}

.secondary-sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 1px solid #f1f5f8;
    box-sizing: content-box;
    height: 100%;
    flex-shrink: 0;
    background: #242529;
    min-height: 100vh;
}

.primary--sidebar .menu-item {
    width: 52px;
    height: 52px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.menu.vertical{
    padding: 12px 0px;
}

.menu.vertical svg{
    margin-right: 10px;
}

.list-menu-bottom{
    margin-top: 20px;
}

hr{
    border: 1px solid #FFFFFF29;
    margin: 0;
}

.secondary-sidebar .sidebar-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    margin: 3px 0px;
    color: #FFFFFFB2;
}

.sidebar-item.active-secondary,
.sidebar-item:hover,
.options-menu .active-secondary {
    background: #f5faff;
    color: #FFFFFF !important;
    border-color: #f5faff;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
}
.sidebar-item>div{
    align-self: center
}
.btn-bottom {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
}

.status-items {
    margin-top: 0.5rem;
}

.status-items i {
    font-size: 12px;
}

.dropdown-menu__item .btn {
    width: 100%;
}

.dropdown-menu__item:hover {
    background: #f5faff;
    color: #1f93ff;
    border-color: #f5faff;
}

.btn-status {
    position: absolute;
    right: 0;
    bottom: 0;
}

.list-menu-bottom .color-ffffff{
    color: #FFFFFF;
}   