#menu{
    width: 64px;
    min-height: 100vh;
    overflow: hidden;
}

.primary--sidebar{
    display: flex;
    flex-direction: column;
    width: 64px;
    border-right: 1px solid #f1f5f8;
    box-sizing: content-box;
    height: 100%;
    flex-shrink: 0;
}

.secondary-sidebar{
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 1px solid #f1f5f8;
    box-sizing: content-box;
    height: 100%;
    flex-shrink: 0;
    background: white;
}

.primary--sidebar .menu-item{
    width: 40px;
    height: 40px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-sidebar .sidebar-item{
    padding: 0px 5px;
    display: flex;
}

.secondary-sidebar .sidebar-item a,
.secondary-sidebar .sidebar-item .secondary-menu--wrap{
    width: 100%;
    padding: 8px;
    color: #37546D;
}

.sidebar-item .sidebar-item a,
.menu-item--new a{
    padding: 4px 8px !important;
}

.menu-item--new{
    display: flex;
    font-size: 13px;
}

.sidebar-item .fw-semibold{
    padding: 0px 8px;
}



.tab-content .sidebar-item .active-secondary,
.tab-content .sidebar-item a:hover{
    background: #f5faff;
    color: #1f93ff;
    border-color: #f5faff;
}