.list-review{
    margin-top: 15px;
}

.list-review>span{
    margin-right: 35px;
}
.list-review *{
    transition: all 0.3s;
}

.list-review>span:not(.review-active){
    cursor: pointer;
}

.review-active svg {
    width: 40px;
    min-height: 40px;
}