.height-100vh{
    height: 100vh;
    padding-top: 57px;
}

.box-login{
    background: #fff;
    border: 1px solid #ebf0f5;
    box-shadow: 0 0.8rem 1.6rem rgba(50,50,93,.08), 0 0.4rem 1.2rem rgba(0,0,0,.07);
    border-radius: 0.8rem;
    border-radius: 0.4rem;
    padding: 32px;
}

.login .box-login button.btn{
    height: 46px !important;
}

.p-inputtext:enabled:focus{
    box-shadow: none !important;
}