<div class="height-100vh align-items-center justify-content-center d-flex row">
    <div class="col-md-4 login">
        <form class="box-login" [formGroup]="form" (ngSubmit)="onSubmit()">
            <h4>Reset Password</h4>
            <div class="">
                <label class="w-100">
                    Email
                    <input type="text" pInputText [(ngModel)]="model.email" formControlName="email"
                        placeholder="Please enter your email" class="form-control mt-1">
                </label>
                <div *ngIf="(f['email'].dirty || f['email'].touched || submitted) && f['email'].invalid" class="text-danger"> 
                    <div *ngIf="f['email'].errors?.['required']">
                        Email is required
                    </div>
                    <div *ngIf="f['email'].errors?.['email']">
                        Please enter a valid email
                    </div>
                </div>
                <button class="d-block w-100 btn btn-primary mt-3" [disabled]="f['email'].status !== 'VALID'" type="submit">
                    <span>Submit</span>
                </button>
            </div>
        </form>
    </div>
</div>