#dropdown-report .p-dropdown.p-component{
    max-width: 300px;
}

.container-box{
    margin: 8px;
    background: white;
}

.tab-btn{
    background: #EFF0F2;
    border-radius: 8px;
}

.tab-btn .tab{
    padding: 10px 20px;
}