<div class="p-3 box-container" style="overflow: hidden">
    <div class="row header-contact">
        <div class="col-md-6">
            <div class="search">
                <a class="search--link">
                    <span class="p-input-icon-left py-3 w-100">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText [(ngModel)]="textSearch" placeholder="Search"
                            (keyup.enter)="getContact()">
                    </span>
                </a>
            </div>
        </div>
        <div class="col-md-6 text-middle">
            <div class="d-flex justify-content-end align-items-center">

                <!-- <button class="transparent" type="submit">
                    <svg data-v-2beb9cd3="" width="16" height="16" fill="none"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon icon--font filter">
                        <path
                            d="M13.5 16a.75.75 0 0 1 0 1.5h-3a.75.75 0 0 1 0-1.5h3Zm3-5a.75.75 0 0 1 0 1.5h-9a.75.75 0 0 1 0-1.5h9Zm3-5a.75.75 0 0 1 0 1.5h-15a.75.75 0 0 1 0-1.5h15Z"
                            fill="currentColor">
                        </path>
                    </svg>
                    <span class="button__content">
                        Filter
                    </span>
                </button> -->

                <button class="transparent-import btn btn-outline-secondary me-2" type="submit" (click)="import()">
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1769_2739)">
                            <path
                                d="M5.88736 3.67018L7.83799 1.71887L7.83333 12.0107C7.83333 12.3789 8.13179 12.6774 8.49998 12.6774C8.86816 12.6774 9.16662 12.3789 9.16662 12.0107L9.17128 1.73022L11.1126 3.67218C11.3774 3.92796 11.7995 3.92065 12.0552 3.65581C12.3048 3.39747 12.3048 2.98788 12.0552 2.72954L9.91461 0.586233C9.13381 -0.195067 7.86752 -0.195473 7.08622 0.585327C7.0859 0.58564 7.08562 0.585921 7.08531 0.586233L4.94468 2.72754C4.68891 2.99238 4.69622 3.41441 4.96106 3.67018C5.2194 3.91971 5.62899 3.91971 5.88736 3.67018Z"
                                fill="currentColor" />
                            <path
                                d="M15.8332 10.6666C15.465 10.6666 15.1665 10.965 15.1665 11.3332V13.9998C15.1665 14.368 14.8681 14.6665 14.4999 14.6665H2.50006C2.13188 14.6665 1.83341 14.368 1.83341 13.9998V11.3332C1.83341 10.965 1.53495 10.6666 1.16677 10.6666C0.798586 10.6666 0.500122 10.965 0.500122 11.3332V13.9998C0.500122 15.1044 1.39555 15.9998 2.50009 15.9998H14.4999C15.6044 15.9998 16.4999 15.1044 16.4999 13.9998V11.3332C16.4998 10.965 16.2013 10.6666 15.8332 10.6666Z"
                                fill="currentColor" fill-opacity="0.87" />
                        </g>
                        <defs>
                            <clipPath id="clip0_1769_2739">
                                <rect width="16" height="16" fill="white" transform="translate(0.5)" />
                            </clipPath>
                        </defs>
                    </svg>

                    <span class="button__content">
                        Import
                    </span>
                </button>
                <button class="transparent-contact btn btn-primary" type="submit" (click)="createContact()">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.3333 7.33333H8.66667V4.66667C8.66667 4.48986 8.59643 4.32029 8.4714 4.19526C8.34638 4.07024 8.17681 4 8 4C7.82319 4 7.65362 4.07024 7.5286 4.19526C7.40357 4.32029 7.33333 4.48986 7.33333 4.66667V7.33333H4.66667C4.48986 7.33333 4.32029 7.40357 4.19526 7.5286C4.07024 7.65362 4 7.82319 4 8C4 8.17681 4.07024 8.34638 4.19526 8.4714C4.32029 8.59643 4.48986 8.66667 4.66667 8.66667H7.33333V11.3333C7.33333 11.5101 7.40357 11.6797 7.5286 11.8047C7.65362 11.9298 7.82319 12 8 12C8.17681 12 8.34638 11.9298 8.4714 11.8047C8.59643 11.6797 8.66667 11.5101 8.66667 11.3333V8.66667H11.3333C11.5101 8.66667 11.6797 8.59643 11.8047 8.4714C11.9298 8.34638 12 8.17681 12 8C12 7.82319 11.9298 7.65362 11.8047 7.5286C11.6797 7.40357 11.5101 7.33333 11.3333 7.33333Z"
                            fill="white" />
                    </svg>

                    <span class="button__content">
                        New Contact
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="row box-contacts">
        <div class="col-12 p-0" style="max-height:calc(100vh - 95px);">
            <p-table [value]="contacts" [tableStyle]="{ 'min-width': '50rem' }" [scrollable]="true" scrollHeight="100%"
                id="box-content">
                <ng-template pTemplate="header">
                    <tr>
                        <th>NAME</th>
                        <th>EMAIL ADDRESS</th>
                        <th>PHONE NUMBER</th>
                        <th>COMPANY</th>
                        <th>CITY</th>
                        <th>COUNTRY</th>
                        <th>SOCIAL PROFILES</th>
                        <th>LAST ACTIVITY</th>
                        <th>CREATE AT</th>
                        <th>CONVERSATIONS</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contact>
                    <tr>
                        <td class="pointer text-primary" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: false}"
                            [routerLink]="'/main/contacts/detail/' + contact.id" aria-expanded="false"
                            title="viewDetail">{{ contact.fullname }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phoneNumber }}</td>
                        <td>{{ contact.company }}</td>
                        <td>{{ contact.city }}</td>
                        <td>{{ contact.country }}</td>
                        <td>{{ contact.socialProfiles }}</td>
                        <td>{{ contact.lastActivity }}</td>
                        <td>{{ contact.createAt }}</td>
                        <td>{{ contact.conversations }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div id="newContact" class="modal add-contact" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new contact</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="content-box">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <label class="input-container">
                            <span>Full Name<span class="text-required">*</span></span>
                            <div class="group-input">
                                <input type="text" pInputText [(ngModel)]="model.fullname" formControlName="fullname"
                                    placeholder="Please enter full name" class="form-control">
                                <div *ngIf="(f['fullname'].dirty || f['fullname'].touched || submitted) && f['fullname'].invalid"
                                    class="text-danger">
                                    <div *ngIf="f['fullname'].errors?.['required']">
                                        Please enter Full name
                                    </div>
                                </div>
                            </div>
                        </label>
                        <label class="input-container">
                            <span>Email<span class="text-required">*</span></span>
                            <div class="group-input">
                                <input type="text" pInputText [(ngModel)]="model.email" formControlName="email"
                                    placeholder="Please enter email" class="form-control">
                                <div *ngIf="(f['email'].dirty || f['email'].touched || submitted) && f['email'].invalid"
                                    class="text-danger">
                                    <div *ngIf="f['email'].errors?.['required']">
                                        Please enter email
                                    </div>
                                    <div *ngIf="f['email'].errors?.['email']">
                                        Please enter a valid email
                                    </div>
                                </div>
                            </div>
                        </label>
                        <label class="input-container">
                            <span>Phone number</span>
                            <div class="group-input">
                                <input type="text" pInputText [(ngModel)]="model.phoneNumber"
                                    formControlName="phoneNumber" placeholder="Please enter phone number"
                                    class="form-control">
                            </div>
                            <p>*Phone number should be of E.164 format eg: +1415555555 [+][country code][area
                                code][local phone number]</p>
                        </label>
                        <label class="input-container">
                            <span>Company name</span>
                            <div class="group-input">
                                <input type="text" pInputText [(ngModel)]="model.company" formControlName="company"
                                    placeholder="Please enter company name" class="form-control">
                            </div>
                        </label>
                        <label class="input-container">
                            <span>Country</span>
                            <div class="group-input">
                                <p-dropdown [options]="countries" [(ngModel)]="model.country" optionLabel="name"
                                    optionValue="id" formControlName="country"></p-dropdown>
                            </div>
                        </label>
                        <label class="input-container">
                            <span>City</span>
                            <div class="group-input">
                                <input type="text" pInputText [(ngModel)]="model.city" formControlName="city"
                                    placeholder="Please enter city" class="form-control">
                            </div>
                        </label>
                        <label class="input-container">
                            <span>Address</span>
                            <div class="group-input">
                                <input type="text" pInputText [(ngModel)]="model.address" formControlName="address"
                                    placeholder="Please enter address" class="form-control">
                            </div>
                        </label>
                        <label class="input-container m-0">
                            <span>Social profile</span>
                            <div class="group-input">
                                <div class="d-flex align-items-center mb-2">
                                    <span class="text-social">
                                        https://facebook.com/
                                    </span>
                                    <input type="text" pInputText [(ngModel)]="model.facebook"
                                        formControlName="facebook" placeholder="..." class="form-control">
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <span class="text-social">
                                        https://twitter.com/
                                    </span>
                                    <input type="text" pInputText [(ngModel)]="model.twitter" formControlName="twitter"
                                        placeholder="..." class="form-control">
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <span class="text-social">
                                        https://linkedin.com/
                                    </span>
                                    <input type="text" pInputText [(ngModel)]="model.linkedin"
                                        formControlName="linkedin" placeholder="..." class="form-control">
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="text-social">
                                        https://github.com/
                                    </span>
                                    <input type="text" pInputText [(ngModel)]="model.github" formControlName="github"
                                        placeholder="..." class="form-control">
                                </div>
                            </div>
                        </label>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid"
                    (click)="onSubmit()">Create</button>
            </div>
        </div>
    </div>
</div>


<p-dialog id="import" [(visible)]="displayImport">
    <ng-template pTemplate="header">
        Import Contacts
    </ng-template>
    <div class="dialog-body">
        <div class="content-box">
            <form [formGroup]="formImport" (ngSubmit)="onSubmitFile()">
                <p>
                    Import contacts through a CSV file. <a href="">Download a sample csv here.</a>
                </p>
                <label class="input-container">
                    <span>CSV File</span>
                    <div class="group-input">
                        <label for="fileImport" class="btn" style="border-color: black;">
                            Choose file
                        </label>
                    </div>
                    <input type="file" id="fileImport" style="visibility: hidden;">
                </label>
            </form>
        </div>
    </div>
    <div class="dialog-footer d-flex justify-content-end">
        <button type="button" class="btn btn-secondary me-3" (click)="displayImport = false">Cancel</button>
        <button type="button" class="btn btn-primary">Create</button>
    </div>
</p-dialog>