.transparent{
    background-color: transparent;
    border-color: transparent;
    padding: 15px;
}
.transparent-contact{
    background-color: transparent;
    border-color: transparent;
    color: #00a200;
    padding: 15px;
}
.transparent-import{
    background-color: transparent;
    border-color: transparent;
    color: #135899;
    padding: 15px;
}