.transparent{
    background-color: transparent;
    border-color: transparent;
    padding: 15px;
}
.transparent-contact{
    background-color: transparent;
    border-color: transparent;
    color: #00a200;
    padding: 15px;
}
.transparent-import{
    background-color: transparent;
    border-color: transparent;
    color: #135899;
    padding: 15px;
}
.text-social{
    padding: 12px 8px;
    background: #E7EAF9;
    margin-right: 4px;
    border-radius: 8px;
    min-width: 144px;
    font-size: 12px;
}

.box-contacts{
    margin: 4px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}