.transparent{
    background-color: transparent;
    border-color: transparent;
    padding: 15px;
}
.transparent-contact{
    height: 32px;
}
.transparent-import{
    height: 32px;
}
.text-social{
    padding: 12px 8px;
    background: #E7EAF9;
    margin-right: 4px;
    border-radius: 8px;
    min-width: 144px;
    font-size: 12px;
}

.box-contacts{
    margin: 0px 4px 4px 4px;
    background: white;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    margin-top: 0;
}
.header-contact{
    margin: 4px 4px 0px 4px;
    background: #FFFFFF;
    border-radius: 12px 12px 0 0;
    border-bottom: 1px solid #E6E6E8;
}