<div class="container-fluid">
    <div class="settings-header">
        <div class="row bg-white">
            <div class="col-12 col-header">
                <h3 class="page-title mb-0">
                    <svg width="20" height="20" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        class="icon briefcase header--icon">
                        <path
                            d="M8.75 3h6.5a.75.75 0 0 1 .743.648L16 3.75V7h1.75A3.25 3.25 0 0 1 21 10.25v6.5A3.25 3.25 0 0 1 17.75 20H6.25A3.25 3.25 0 0 1 3 16.75v-6.5A3.25 3.25 0 0 1 6.25 7H8V3.75a.75.75 0 0 1 .648-.743L8.75 3h6.5-6.5Zm9 5.5H6.25a1.75 1.75 0 0 0-1.75 1.75v6.5c0 .966.784 1.75 1.75 1.75h11.5a1.75 1.75 0 0 0 1.75-1.75v-6.5a1.75 1.75 0 0 0-1.75-1.75Zm-3.25-4h-5V7h5V4.5Z"
                            fill="currentColor">
                        </path>
                    </svg>
                    <span class="ms-2">Account settings</span>
                </h3>

                <button type="submit" class="btn btn-success">
                    <span>Update settings</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12 profile--settings pt-80 px-30">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-3 text-middle">
                    <h4 class="block-title">
                        General settings
                    </h4>
                </div>
                <div class="col-md-5 col-sm-9">
                    <label class="d-block mb-3">
                        Account name
                        <input type="text" pInputText [(ngModel)]="model.username" formControlName="username"
                            placeholder="Account name" class="form-control mt-1">
                        <div *ngIf="(f['username'].dirty || f['username'].touched || submitted) && f['username'].invalid"
                            class="text-danger">
                            <div *ngIf="f['username'].errors?.['username']">
                                Please enter a valid account name
                            </div>
                        </div>
                    </label>
                    <label class="d-block">
                        Number of days after a ticket should auto resolve if there is no activity
                        <input type="number" pInputText [(ngModel)]="model.dayResolve" formControlName="dayResolve"
                            placeholder="Number of days after a ticket should auto resolve" class="form-control mt-1">
                        <div *ngIf="(f['dayResolve'].dirty || f['dayResolve'].touched || submitted) && f['dayResolve'].invalid"
                            class="text-danger">
                            <div *ngIf="f['dayResolve'].errors?.['dayResolve']">
                                Please enter a valid account name
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row align-items-center mt-4">
                <div class="col-md-3">
                    <h4 class="block-title">
                        Account ID
                    </h4>
                    <p>
                        This ID is required if you are building an API based integration
                    </p>
                </div>
                <div class="col-md-5 col-sm-9">
                    <div class="d">
                        <code class="hljs javascript"><span class="hljs-number">{{model.idUser}}</span></code>
                    </div>
                </div>
            </div>
            <div class="current-version text-center py-4">
                <div>v1.2.0</div>
            </div>
        </form>
    </div>
</div>