<div class="container">
    <div class="settings-header">
        <div class="row bg-white">
            <div class="col-12 col-header">
                <h3 class="page-title mb-0">
                    <svg width="20" height="20" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        class="icon people-team header--icon">
                        <path
                            d="M14.754 10c.966 0 1.75.784 1.75 1.75v4.749a4.501 4.501 0 0 1-9.002 0V11.75c0-.966.783-1.75 1.75-1.75h5.502Zm0 1.5H9.252a.25.25 0 0 0-.25.25v4.749a3.001 3.001 0 0 0 6.002 0V11.75a.25.25 0 0 0-.25-.25ZM3.75 10h3.381a2.738 2.738 0 0 0-.618 1.5H3.75a.25.25 0 0 0-.25.25v3.249a2.501 2.501 0 0 0 3.082 2.433c.085.504.24.985.453 1.432A4.001 4.001 0 0 1 2 14.999V11.75c0-.966.784-1.75 1.75-1.75Zm13.125 0h3.375c.966 0 1.75.784 1.75 1.75V15a4 4 0 0 1-5.03 3.866c.214-.448.369-.929.455-1.433A2.5 2.5 0 0 0 20.5 15v-3.25a.25.25 0 0 0-.25-.25h-2.757a2.738 2.738 0 0 0-.618-1.5ZM12 3a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm6.5 1a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm-13 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm6.5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Zm6.5 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2Zm-13 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2Z"
                            fill="currentColor"></path>
                    </svg>
                    <span class="ms-2">Teams</span>
                </h3>

                <button type="submit" class="btn btn-success" (click)="showDialog()">
                    <span>+ Create new team</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12 profile--settings">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <table class="woot-table">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="agent-name">Team Acb</span>
                                </td>
                                <td>
                                    <span>Content maketing</span>
                                </td>
                                <td>
                                    <div class="button-wrapper text-end">
                                        <button class="btn btn-sm btn-primary"><i class="pi pi-sliders-h"></i></button>
                                        <button class="btn btn-sm btn-danger ms-2"><i class="pi pi-times-circle"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="agent-name">Team Acb</span>
                                </td>
                                <td>
                                    <span>Content maketing</span>
                                </td>
                                <td>
                                    <div class="button-wrapper text-end">
                                        <button class="btn btn-sm btn-primary"><i class="pi pi-sliders-h"></i></button>
                                        <button class="btn btn-sm btn-danger ms-2"><i class="pi pi-times-circle"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="agent-name">Team Acb</span>
                                </td>
                                <td>
                                    <span>Content maketing</span>
                                </td>
                                <td>
                                    <div class="button-wrapper text-end">
                                        <button class="btn btn-sm btn-primary"><i class="pi pi-sliders-h"></i></button>
                                        <button class="btn btn-sm btn-danger ms-2"><i class="pi pi-times-circle"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <span>
                    <p><b>Teams</b></p>
                    <p>Teams let you organize your agents into groups based on their responsibilities. <br> An agent can
                        be part of multiple teams. You can assign conversations to a team when you are working
                        collaboratively. </p>
                </span>
            </div>
        </div>

    </div>

</div>

<p-dialog header="Create a new team" [(visible)]="display" [modal]="true" class="box-dialog" [style]="{width: '513px'}">
    <p class="text-secondary">
        Add a title and description to your new team.
    </p>
    <form class="row" [formGroup]="form">
        <div class="col-md-12">
            <label class="label-input">
                <span class="text-label">Team name</span>
                <input type="text" pInputText [(ngModel)]="model.teamName" formControlName="teamName"
                    placeholder="Example: Sales, Customer Support" class="form-control mt-1">
                <div *ngIf="(f['teamName'].dirty || f['teamName'].touched || submitted) && f['teamName'].invalid"
                    class="text-danger">
                    <div *ngIf="f['teamName'].errors?.['required']">
                        Team name is required
                    </div>
                </div>
            </label>
        </div>
        <div class="col-md-12">
            <label class="label-input">
                <span class="text-label">Team description</span>
                <input type="text" pInputText [(ngModel)]="model.teamDescription" formControlName="teamDescription"
                    placeholder="Agent Name" class="form-control mt-1">
            </label>
        </div>
        <div class="modal-footer">
            <div class="btn-groupt">
                <button type="submit" class="btn btn-primary" disabled="disabled">
                    <span>Add Team</span>
                </button>
                <button class="btn btn-secondary ml-2" (click)="display=false" label="Ok">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</p-dialog>