<div class="p-3 pt-2 bg-white" style="overflow: hidden">
    <div class="row ms-4">
        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div class="btn text-primary fs-3" routerLinkActive="ac" [routerLinkActiveOptions]="{exact: false}"
                    routerLink="/main/contacts/" aria-expanded="false">
                    < Contacts </div>
                        <h3 class="m-0">{{model.fullname}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="contact--profile">
                        <div class="contact--info">
                            <div class="contact-info--header"></div>
                            <div class="contact--details">
                                <p class="contact--bio">
                                    {{model.bio}}
                                </p>
                                <div class="contact--metadata">
                                    <div class="contact-info--row" title="Email Address">
                                        <a href="mailto:{{model.bio}}" class="contact-info--details">
                                            <svg width="14" height="14" fill="none" viewBox="0 0 24 24"
                                                xmlns="http://www.w3.org/2000/svg" class="icon--font mail">
                                                <path
                                                    d="M5.25 4h13.5a3.25 3.25 0 0 1 3.245 3.066L22 7.25v9.5a3.25 3.25 0 0 1-3.066 3.245L18.75 20H5.25a3.25 3.25 0 0 1-3.245-3.066L2 16.75v-9.5a3.25 3.25 0 0 1 3.066-3.245L5.25 4h13.5-13.5ZM20.5 9.373l-8.15 4.29a.75.75 0 0 1-.603.043l-.096-.042L3.5 9.374v7.376a1.75 1.75 0 0 0 1.606 1.744l.144.006h13.5a1.75 1.75 0 0 0 1.744-1.607l.006-.143V9.373ZM18.75 5.5H5.25a1.75 1.75 0 0 0-1.744 1.606L3.5 7.25v.429l8.5 4.473 8.5-4.474V7.25a1.75 1.75 0 0 0-1.607-1.744L18.75 5.5Z"
                                                    fill="currentColor">
                                                </path>
                                            </svg>
                                            <span *ngIf="!model.email" class="text-muted">Not Available</span>
                                            <span *ngIf="model.email" title="minhtmu@gmail.com" class="text-truncate">{{model.email}}</span>
                                        </a>
                                    </div>
                                    <div class="contact-info--row" title="Phone number">
                                        <div class="contact-info--details">
                                            <svg width="14" height="14" fill="none" viewBox="0 0 24 24"
                                                xmlns="http://www.w3.org/2000/svg" class="icon--font call">
                                                <path
                                                    d="m7.056 2.418 1.167-.351a2.75 2.75 0 0 1 3.302 1.505l.902 2.006a2.75 2.75 0 0 1-.633 3.139L10.3 10.11a.25.25 0 0 0-.078.155c-.044.397.225 1.17.845 2.245.451.781.86 1.33 1.207 1.637.242.215.375.261.432.245l2.01-.615a2.75 2.75 0 0 1 3.034 1.02l1.281 1.776a2.75 2.75 0 0 1-.339 3.605l-.886.84a3.75 3.75 0 0 1-3.587.889c-2.754-.769-5.223-3.093-7.435-6.924-2.215-3.836-2.992-7.14-2.276-9.913a3.75 3.75 0 0 1 2.548-2.652Zm.433 1.437a2.25 2.25 0 0 0-1.529 1.59c-.602 2.332.087 5.261 2.123 8.788 2.033 3.522 4.222 5.582 6.54 6.23a2.25 2.25 0 0 0 2.151-.534l.887-.84a1.25 1.25 0 0 0 .154-1.639l-1.28-1.775a1.25 1.25 0 0 0-1.38-.464l-2.015.617c-1.17.348-2.232-.593-3.372-2.568C9 11.93 8.642 10.9 8.731 10.099c.047-.416.24-.8.546-1.086l1.494-1.393a1.25 1.25 0 0 0 .288-1.427l-.902-2.006a1.25 1.25 0 0 0-1.5-.684l-1.168.352Z"
                                                    fill="currentColor">
                                                </path>
                                            </svg>
                                            <span *ngIf="!model.phoneNumber" class="text-muted">Not Available</span>
                                            <span *ngIf="model.phoneNumber"
                                                class="text-muted">{{model.phoneNumber}}</span>
                                        </div>
                                    </div>
                                    <div class="contact-info--row" title="Company">
                                        <div class="contact-info--details">
                                            <svg width="14" height="14" fill="none" viewBox="0 0 24 24"
                                                xmlns="http://www.w3.org/2000/svg" class="icon--font building-bank">
                                                <path
                                                    d="M13.032 2.325a1.75 1.75 0 0 0-2.064 0L3.547 7.74c-.978.713-.473 2.26.736 2.26H4.5v5.8A2.75 2.75 0 0 0 3 18.25v1.5c0 .413.336.75.75.75h16.5a.75.75 0 0 0 .75-.75v-1.5a2.75 2.75 0 0 0-1.5-2.45V10h.217c1.21 0 1.713-1.547.736-2.26l-7.421-5.416Zm-1.18 1.211a.25.25 0 0 1 .295 0L18.95 8.5H5.05l6.803-4.964ZM18 10v5.5h-2V10h2Zm-3.5 0v5.5h-1.75V10h1.75Zm-3.25 0v5.5H9.5V10h1.75Zm-5.5 7h12.5c.69 0 1.25.56 1.25 1.25V19h-15v-.75c0-.69.56-1.25 1.25-1.25ZM6 15.5V10h2v5.5H6Z"
                                                    fill="currentColor">
                                                </path>
                                            </svg>

                                            <span *ngIf="!model.company" class="text-muted">Not Available</span>
                                            <span *ngIf="model.company"
                                                class="text-muted">{{model.company}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-actions">
                                <button type="submit"
                                    class="btn-primary btn">
                                    <svg width="14" height="14" fill="none" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="icon icon--font chat">
                                        <path
                                            d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10a9.96 9.96 0 0 1-4.587-1.112l-3.826 1.067a1.25 1.25 0 0 1-1.54-1.54l1.068-3.823A9.96 9.96 0 0 1 2 12C2 6.477 6.477 2 12 2Zm0 1.5A8.5 8.5 0 0 0 3.5 12c0 1.47.373 2.883 1.073 4.137l.15.27-1.112 3.984 3.987-1.112.27.15A8.5 8.5 0 1 0 12 3.5ZM8.75 13h4.498a.75.75 0 0 1 .102 1.493l-.102.007H8.75a.75.75 0 0 1-.102-1.493L8.75 13h4.498H8.75Zm0-3.5h6.505a.75.75 0 0 1 .101 1.493l-.101.007H8.75a.75.75 0 0 1-.102-1.493L8.75 9.5h6.505H8.75Z"
                                            fill="currentColor">
                                        </path>
                                    </svg> </button> <button type="submit"
                                    class="btn-primary btn">
                                    <svg width="14" height="14" fill="none" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="icon icon--font edit">
                                        <path
                                            d="M21.03 2.97a3.578 3.578 0 0 1 0 5.06L9.062 20a2.25 2.25 0 0 1-.999.58l-5.116 1.395a.75.75 0 0 1-.92-.921l1.395-5.116a2.25 2.25 0 0 1 .58-.999L15.97 2.97a3.578 3.578 0 0 1 5.06 0ZM15 6.06 5.062 16a.75.75 0 0 0-.193.333l-1.05 3.85 3.85-1.05A.75.75 0 0 0 8 18.938L17.94 9 15 6.06Zm2.03-2.03-.97.97L19 7.94l.97-.97a2.079 2.079 0 0 0-2.94-2.94Z"
                                            fill="currentColor">
                                        </path>
                                    </svg>
                                </button>
                                <button type="submit"
                                    class="btn-secondary btn">
                                    <svg width="14" height="14" fill="none" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="icon icon--font merge">
                                        <path
                                            d="M3 6.75A.75.75 0 0 1 3.75 6h4.5a.75.75 0 0 1 .53.22L13.56 11h5.878L15.72 7.28a.75.75 0 1 1 1.06-1.06l4.998 5a.75.75 0 0 1 0 1.06l-4.998 5a.75.75 0 1 1-1.06-1.06l3.718-3.72H13.56l-4.78 4.78a.75.75 0 0 1-.531.22h-4.5a.75.75 0 0 1 0-1.5h4.19l4.25-4.25L7.94 7.5H3.75A.75.75 0 0 1 3 6.75Z"
                                            fill="currentColor">
                                        </path>
                                    </svg>
                                </button>
                                <button type="submit"
                                    class="btn-danger btn">
                                    <svg width="14" height="14" fill="none" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="icon icon--font delete">
                                        <path
                                            d="M12 1.75a3.25 3.25 0 0 1 3.245 3.066L15.25 5h5.25a.75.75 0 0 1 .102 1.493L20.5 6.5h-.796l-1.28 13.02a2.75 2.75 0 0 1-2.561 2.474l-.176.006H8.313a2.75 2.75 0 0 1-2.714-2.307l-.023-.174L4.295 6.5H3.5a.75.75 0 0 1-.743-.648L2.75 5.75a.75.75 0 0 1 .648-.743L3.5 5h5.25A3.25 3.25 0 0 1 12 1.75Zm6.197 4.75H5.802l1.267 12.872a1.25 1.25 0 0 0 1.117 1.122l.127.006h7.374c.6 0 1.109-.425 1.225-1.002l.02-.126L18.196 6.5ZM13.75 9.25a.75.75 0 0 1 .743.648L14.5 10v7a.75.75 0 0 1-1.493.102L13 17v-7a.75.75 0 0 1 .75-.75Zm-3.5 0a.75.75 0 0 1 .743.648L11 10v7a.75.75 0 0 1-1.493.102L9.5 17v-7a.75.75 0 0 1 .75-.75Zm1.75-6a1.75 1.75 0 0 0-1.744 1.606L10.25 5h3.5A1.75 1.75 0 0 0 12 3.25Z"
                                            fill="currentColor">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>