<div class="container-fluid">
    <div class="settings-header">
        <div class="row bg-white">
            <div class="col-12 col-header">
                <h3 class="page-title mb-0">
                    <svg width="20" height="20" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        class="icon tag header--icon">
                        <path
                            d="M19.75 2A2.25 2.25 0 0 1 22 4.25v5.462a3.25 3.25 0 0 1-.952 2.298l-8.5 8.503a3.255 3.255 0 0 1-4.597.001L3.489 16.06a3.25 3.25 0 0 1-.003-4.596l8.5-8.51A3.25 3.25 0 0 1 14.284 2h5.465Zm0 1.5h-5.465c-.465 0-.91.185-1.239.513l-8.512 8.523a1.75 1.75 0 0 0 .015 2.462l4.461 4.454a1.755 1.755 0 0 0 2.477 0l8.5-8.503a1.75 1.75 0 0 0 .513-1.237V4.25a.75.75 0 0 0-.75-.75ZM17 5.502a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
                            fill="currentColor">
                        </path>
                    </svg>
                    <span class="ms-2">Labels</span>
                </h3>

                <button type="submit" class="btn btn-success" (click)="showDialog()">
                    <span>+ Add label</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12 profile--settings">
        <div class="row">
            <div class="col-md-8">
                <p-table [value]="listData">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Color</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>
                                <div class="agent-name">{{item.name}}</div>
                            </td>
                            <td>
                                {{item.description}}
                            </td>
                            <td>
                                <p-colorPicker [(ngModel)]="item.color" [disabled]="true"></p-colorPicker>
                                {{item.color}}
                            </td>
                            <td>
                                <div class="button-wrapper text-end">
                                    <button class="btn btn-sm btn-primary"><i class="pi pi-sliders-h"></i></button>
                                    <button (click)="confirm()" pButton icon="pi pi-trash" class="p-button-danger"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="col-md-4">
                <span>
                    <p><b>Labels</b> </p>
                    <p>Labels help you to categorize conversations and prioritize them. You can assign label to a
                        conversation from the sidepanel. <br><br>Labels are tied to the account and can be used to
                        create custom workflows in your organization. You can assign custom color to a label, it makes
                        it easier to identify the label. You will be able to display the label on the sidebar to filter
                        the conversations easily.</p>
                </span>
            </div>
        </div>

    </div>

</div>

<p-dialog [(visible)]="display" [modal]="true" class="box-dialog" [style]="{width: '513px'}">
    <ng-template pTemplate="header">
        <div>
            <p class="p-dialog-title" *ngIf="create">
                Add label
            </p>
            <p class="p-dialog-title" *ngIf="!create">
                Update label
            </p>
            <p class="text-secondary">
                Labels let you group the conversations together.
            </p>
        </div>
    </ng-template>
    <form class="row" [formGroup]="form">
        <div class="col-md-12">
            <label class="label-input">
                <div class="text-label">Label Name</div>
                <input type="text" pInputText [(ngModel)]="model.name" formControlName="name" placeholder="Label Name"
                    class="form-control mt-1">
                <div *ngIf="(f['name'].dirty || f['name'].touched || submitted) && f['name'].invalid"
                    class="text-danger">
                    <div *ngIf="f['name'].errors?.['required']">
                        Label name is required
                    </div>
                </div>
            </label>
        </div>
        <div class="col-md-12">
            <label class="label-input">
                <div class="text-label">Description</div>
                <input type="text" pInputText [(ngModel)]="model.description" formControlName="description"
                    placeholder="Label Description" class="form-control mt-1">
            </label>
        </div>
        <div class="col-md-12">
            <label class="label-input">
                <div class="text-label">Color</div>
                <p-colorPicker [(ngModel)]="model.color" formControlName="color"></p-colorPicker>
            </label>
        </div>
        <div class="col-md-12">
            <label class="label-input">
                <p-checkbox [(ngModel)]="model.showSidebar" [binary]="true" label="Show label on sidebar"
                    formControlName="showSidebar"></p-checkbox>
            </label>
        </div>
        <div class="modal-footer">
            <div class="btn-groupt">
                <button type="button" class="btn btn-primary" [disabled]="f['name'].errors" (click)="saveLabel()">
                    <span>Save</span>
                </button>
                <button class="btn btn-secondary ml-2" (click)="display=false">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</p-dialog>