/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Inter";
    src: local("Inter"), url(./assets/font/Inter/Inter-VariableFont.ttf) format("truetype");
}

* {
    font-family: 'Inter';
}

html {
    font-size: 14px;
}

.btn-back {
    display: none;
    margin-left: 50px;
}

.text-align-left{
    text-align: left
}

.text-align-right{
    text-align: right
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .view-mail .conv-header .sub-block-title {
        padding-left: 50px;
    }

    .view-mail .btn-back {
        display: inline !important;
    }

    .view-mail .content-left {
        display: none;
    }

    .view-mail .btn-mobile {
        justify-content: flex-start !important;
        padding-left: 50px;
        padding-top: 5px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

p {
    margin-bottom: 0;
}

.p-10 {
    padding: 10px;
}

.text-middle {
    align-self: center;
}

.logo-mini {
    width: auto;
    height: 50px;
}

ul {
    padding: 0;
    list-style: none;
}

ul li a {
    text-decoration: none;
}

i.pi {
    font-size: 18px;
}

.content-left {
    border-right: 1px solid #EFF0F2;
    width: 232px;
}
.content-right {
    border-left: 1px solid #EFF0F2;
    width: 232px;
}

.content-left>.container {
    height: 100%;
    background-color: white;
}

input.p-inputtext {
    height: 34px;
    width: 100%;
}

p-dropdown .p-dropdown {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    height: 34px;
    align-items: center;
}

app-dashboard {
    width: 100%;
}

.p-tabview .p-tabview-panels {
    padding: 2px !important;
}

*:focus {
    box-shadow: none !important;
}

.p-focus {
    box-shadow: none !important;
}

.message-read .ck.ck-editor__top.ck-reset_all {
    display: none !important;
}

.message-read{
    display: flex;
}

li.message-read>div{
    width: 70%;
}

.conversation-footer .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
    border-left: none;
    border-right: none;
    border-bottom: none;
    background: none;
    min-height: 150px;
}

.conversation-footer {
    margin-top: 40px;
    background: white;
    border: 1px solid #ccced1;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border: none;
    background: none;
}

.modal-body .input-container {
    width: 100%;
    display: grid;
}

.input-container {
    margin-bottom: 8px;
}

.input-container>span {
    margin-bottom: 4px;
}

.bg-light {
    background-color: #e6e6e8 !important;
}

.bg-white {
    background-color: white;
}

.pt-80 {
    padding-top: 80px !important;
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.profile--settings {
    padding-top: 20px;
    max-height: calc(100vh - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.settings-header {
    width: 100%;
    display: contents;
    position: fixed;
    background: white;
    height: 56px;
    align-items: center;
}

.col-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.user-thumbnail {
    width: 40px;
}

.thumbnail-rounded {
    border-radius: 50%;
}

.label-input{
    display: block;
}

form .label-input:not(:first-child), form button{
    margin-top: 15px;
}

.box-dialog  {
    margin-bottom: 1rem;
    width: 100%;
}

.box-dialog .label-input .text-label {
    font-weight: 600;
}

.box-dialog .btn-groupt .btn {
    margin-left: 0.5rem;
}

.button-wrapper i {
    font-size: 14px;
}

.profile--settings .card {
    padding: 10px;
}

.woot-table td {
    height: 50px;
}

app-contacts {
    width: 100%;
}

.p-datatable .p-datatable-thead>tr>th {
    background: whitesmoke;
}

.agent-name {
    display: block;
    font-weight: 500;
    text-transform: capitalize;
}

input.p-colorpicker-preview.p-inputtext.ng-star-inserted {
    width: 25px;
    height: 25px;
}

.p-colorpicker .p-disabled,
.p-colorpicker .p-component:disabled {
    opacity: 1;
}

.p-dialog .p-dialog-content {
    overflow: inherit;
}

.conversations-list .p-datatable .p-datatable-tbody>tr>td {
    padding: 0.5rem !important;
}

.btn-collapse {
    position: absolute;
    top: 17px;
    left: 260px;
    display: flex;
    align-items: center;
}

.settings-header .col-header {
    padding-left: 50px;
}

.secondary-sidebar .sidebar-item {
    min-width: 200px !important;
}

.secondary-sidebar {
    transition: all 0.5s;
    overflow: hidden;
}

.hide-menu .secondary-sidebar {
    width: 0px !important;
    overflow: hidden;
}

.container-right {
    min-height: 100vh;
    padding-left: 257px !important;
    transition: 0.5s all;
}

.hide-menu .container-right {
    padding-left: 65px !important;
}

.btn-collapse {
    transition: all 0.5s;
}

.hide-menu .btn-collapse {
    left: 71px;
}

body {
    overflow: hidden;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
    min-width: 1rem;
}

.p-datatable-wrapper {
    /* min-height: 300px; */
    max-height: calc(100vh - 275px);
}

.content-center {
    height: 100vh;
    overflow: auto;
}

.messages-and-sidebar {
    height: calc(100vh - 80px);
    overflow: auto; 
    display: flex;
    /* flex-direction: column-reverse; */
}


.conv-header {
    padding-top: 12px;
    padding-bottom: 12px;
}

.date-time {
    width: 67px;
}

.contact--metadata>* {
    margin-bottom: 5px;
}

.contact-actions button {
    margin-left: 5px;
    width: 30px !important;
    height: 28px;
}

.btn-back-contacts:active {
    border: none;
}

.contact--details .contact--metadata svg {
    margin-right: 3px;
}

.p-multiselect {
    max-width: 100%;
}

.p-multiselect-label .label-item {
    padding: 5px;
}

.p-multiselect-label {
    display: flex !important;
}

.p-inputtextarea {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.box-detail-contact{
    border-right: 1px solid #f1f5f8;
    min-height: 100vh;
}

.p-button-danger.p-button.p-component.p-button-icon-only{
    width: 30px;
    height: 28px;
    margin-left: 5px;
}

p-password>div{
    width: 100%;
    margin-top: 0.25rem;
}

p-password input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.box-middel-center{
    padding: 40px 30px;
    border-radius: 10px;
    border: 1px solid #ebf0f5;
    box-shadow: 0 0.8rem 1.6rem rgba(50,50,93,.08), 0 0.4rem 1.2rem rgba(0,0,0,.07);
}

.h-100vh{
    height: 100vh;
}

.p-multiselect .p-multiselect-label{
    padding-top: 0;
    padding-bottom: 0;
    height: 34px;
    align-items: center;
}

p-multiselect{
    max-width: 200px;
}

.mess-in{
    justify-content: flex-end;
}

.mess-in .ck.ck-editor__main>.ck-editor__editable{
    background: #F6F7F9;
    color: #000000DE;
    padding: 12px 16px;
    border-radius: 20px 20px 0px 20px !important;
    border: none;
}

.mess-out .ck.ck-editor__main>.ck-editor__editable{
    background: #3A69DB;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 0px 20px 20px 20px !important;
    border: none;
}

p-dropdown#dropdown-report{
    text-align: left;
}

.container-box{
    margin: 8px;
    background: white;
    border-radius: 8px;
    height: calc(100vh - 20px);
    overflow: hidden;
}
