/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Inter";
    src: local("Inter"), url(./assets/font/Inter/Inter-VariableFont.ttf) format("truetype");
}

.btn {
    border-radius: 8px;
}

.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}


.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.text-count {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
}

input::placeholder,
textarea::placeholder {
    color: rgba(0, 0, 0, 0.38) !important;
    font-size: 13px;
}

* {
    font-family: 'Inter';
}

html {
    font-size: 14px;
}

.text-align-left {
    text-align: left
}

.text-align-right {
    text-align: right
}

.cursor-pointer {
    cursor: pointer;
}

.p-datatable .p-datatable-tbody>tr:focus {
    outline: none;
    outline-offset: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .view-mail .conv-header .sub-block-title {
        padding-left: 50px;
    }

    .view-mail .btn-back {
        display: inline !important;
    }

    .view-mail .content-left {
        display: none;
    }

    .view-mail .btn-mobile {
        justify-content: flex-start !important;
        padding-left: 50px;
        padding-top: 5px;
    }
}

hr {
    opacity: 1;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    /* background-color: #3A69DB; */
}

::-webkit-scrollbar {
    width: 4px;
    /* background-color: #3A69DB; */
}

::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 15px;
}

.mb-16 {
    margin-bottom: 16px;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

p {
    margin-bottom: 0;
}

.p-10 {
    padding: 10px;
}

#dialog-m16 .p-dialog-header {
    padding-bottom: 16px;
}

#dialog-m16 .hr-dialog {
    padding-top: 16px;
    border-top: 2px solid #eff0f2;
}

.label-input {
    margin-bottom: 4px;
}

.text-middle {
    align-self: center;
}

.logo-mini {
    width: auto;
    height: 50px;
}

.text-truncate-1 {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-truncate-2 {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

ul {
    padding: 0;
    list-style: none;
}

ul li a {
    text-decoration: none;
}

i.pi {
    font-size: 18px;
}

.content-left {
    background: #FFFFFF;
    position: absolute;
    border-right: 1px solid #EFF0F2;
    width: 230px;
    min-height: 100vh;
    z-index: 2;
}

app-menu {
    position: relative;
    z-index: 10;
}

.content-left>.container {
    height: 100%;
    background-color: white;
}

input.p-inputtext {
    height: 40px;
    width: 100%;
}

.p-inputtext {
    padding: 10px 12px;
}


.filter-content .p-dropdown.p-component {
    width: 100%;
}

.conv-header p-dropdown .p-dropdown {
    height: 34px;
}

.conv-header p-dropdown .p-dropdown {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    height: 40px;
    align-items: center;
}

.header-actions-wrap p-dropdown .p-dropdown {
    /* background: #4198FF; */
    height: 28px;
    border: none;
    background: none;
    border-radius: 8px;
    min-width: 130px;
}

.header-actions-wrap .p-dropdown .p-dropdown-trigger {
    color: #FFFFFF;
}

app-dashboard {
    width: 100%;
}

.p-tabview .p-tabview-panels {
    padding: 2px !important;
}

*:focus {
    box-shadow: none !important;
}

.p-focus {
    box-shadow: none !important;
}

.message-read .ck.ck-editor__top.ck-reset_all {
    display: none !important;
}

.message-read {
    display: flex;
}

li.message-read>div {
    width: 70%;
}

.conversation-footer .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
    border: none;
    background: none;
    height: 70px;
}

.conversation-footer {
    background: white;
    border: 1px solid #EFF0F2;
    height: 155px;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border: none;
    background: none;
}

.modal-body .input-container {
    width: 100%;
    display: grid;
}

.input-container {
    margin-bottom: 8px;
}

.input-container>span {
    margin-bottom: 4px;
}

.bg-light {
    background-color: #e6e6e8 !important;
}

.bg-white {
    background-color: white;
}

.pt-80 {
    padding-top: 80px !important;
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.profile--settings {
    padding-top: 20px;
    max-height: calc(100vh - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.settings-header {
    width: 100%;
    display: contents;
    position: fixed;
    background: white;
    height: 56px;
    align-items: center;
}

.col-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.user-thumbnail {
    width: 40px;
}

.thumbnail-rounded {
    border-radius: 50%;
}

.label-input {
    display: block;
    margin-bottom: 8px;
}

form .label-input:not(:first-child) {
    margin-top: 15px;
}

.box-dialog {
    margin-bottom: 1rem;
    width: 100%;
}

.box-dialog .label-input .text-label {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    margin-bottom: 4px;
}

.box-dialog .btn-groupt .btn {
    margin-left: 8px;
}

.button-wrapper i {
    font-size: 14px;
}

.profile--settings .card {
    padding: 10px;
}

.woot-table td {
    height: 50px;
}

app-contacts {
    width: 100%;
}

.p-datatable .p-datatable-thead>tr>th {
    background: whitesmoke;
}

.agent-name {
    display: block;
    font-weight: 500;
    text-transform: capitalize;
}

input.p-colorpicker-preview.p-inputtext.ng-star-inserted {
    width: 25px;
    height: 25px;
}

.p-colorpicker .p-disabled,
.p-colorpicker .p-component:disabled {
    opacity: 1;
}

.p-dialog .p-dialog-content, .modal-body {
    padding: 0 24px 24px 24px;
    overflow: inherit;
}

.conversations-list {
    overflow-wrap: anywhere;
    margin-top: 15px;
}

.conversations-list .p-datatable .p-datatable-tbody>tr>td {
    padding: 12px;
}

.btn-collapse {
    position: absolute;
    top: 17px;
    left: 260px;
    display: flex;
    align-items: center;
}

.settings-header .col-header {
    padding-left: 50px;
}

.secondary-sidebar .sidebar-item {
    width: 100%;
}

.secondary-sidebar {
    transition: all 0.5s;
    overflow: hidden;
}

.hide-menu .secondary-sidebar {
    width: 0px !important;
    overflow: hidden;
}

.container-right {
    min-height: 100vh;
    padding-left: 278px !important;
    transition: 0.5s all;
}

.hide-menu .container-right {
    padding-left: 70px !important;
}

.btn-collapse {
    transition: all 0.5s;
}

.hide-menu .btn-collapse {
    left: 71px;
}

body {
    overflow: hidden;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
    min-width: 1rem;
}

.content-center {
    padding-left: 230px;
    padding-right: 250px;
    height: 100vh;
    overflow: auto;
    width: 100%;
}

.p-overlaypanel-content {
    padding: 16px !important;
}

#tooltip-search {
    width: 268px;
    max-height: 400px;
}

#tooltip-filter {
    width: 240px;
}

#tooltip-filter .action-title {
    padding-bottom: 16px;
    border-bottom: 1px solid #eff0f2;
}

#tooltip-search .item-chat {
    padding: 12px 8px;
}

#tooltip-search .p-selectable-row:not(:last-child) .item-chat {
    border-bottom: 1px solid #eff0f2 !important;
}

.messages-and-sidebar {
    height: calc(100vh - 80px);
    overflow: auto;
    display: flex;
    /* flex-direction: column-reverse; */
}

.conversation-panel {
    margin-bottom: 280px;
}

#tooltip-search .p-datatable-wrapper {
    height: 322px !important;
}

.conv-header {
    padding: 10px 16px;
    border-bottom: 1px solid #EFF0F2;
}

.contact--metadata>* {
    margin-bottom: 5px;
}

.contact-actions button {
    margin-left: 5px;
    width: 30px !important;
    height: 28px;
}

.btn-back-contacts:active {
    border: none;
}

.contact--details .contact--metadata svg {
    margin-right: 3px;
}

.p-multiselect {
    width: 450px;
    max-width: 100%;
}

.p-multiselect-label .label-item {
    padding: 5px;
}

.p-multiselect-label {
    display: flex !important;
}

.p-inputtextarea {
    width: 100%;
    min-height: 80px !important;
}

.pointer {
    cursor: pointer;
}

.box-detail-contact {
    border-right: 1px solid #f1f5f8;
    min-height: 100vh;
}

.p-button-danger.p-button.p-component.p-button-icon-only {
    width: 30px;
    height: 28px;
    margin-left: 5px;
}

p-password>div {
    width: 100%;
    margin-top: 0.25rem;
}

p-password input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.box-middel-center {
    padding: 40px 30px;
    border-radius: 10px;
    border: 1px solid #ebf0f5;
    box-shadow: 0 0.8rem 1.6rem rgba(50, 50, 93, .08), 0 0.4rem 1.2rem rgba(0, 0, 0, .07);
}

.h-100vh {
    height: 100vh;
}

.p-multiselect .p-multiselect-label {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 34px;
    align-items: center;
    flex-wrap: wrap;
}

p-multiselect {
    max-width: 200px;
}

.mess-center {
    justify-content: center;
}

.mess-note {
    justify-content: flex-end;
}

.mess-out {
    justify-content: flex-end;
}

.mess-in .ck.ck-editor__main>.ck-editor__editable {
    background: #F6F7F9;
    color: rgba(0, 0, 0, 0.87);
    padding: 12px 16px;
    border-radius: 0px 20px 20px 20px !important;
    border: none;
}

.mess-out .ck.ck-editor__main>.ck-editor__editable {
    background: #3A69DB;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 20px 20px 0px 20px !important;
    border: none;
}


.mess-center .change-status {
    background: #F6F7F9;
    color: #9B9B9E;
    padding: 12px 16px;
    border-radius: 20px 20px 20px 20px !important;
    border: none;
}

.mess-note .ck.ck-editor__main>.ck-editor__editable {
    background: #FFE0B6;
    color: rgba(0, 0, 0, 0.87);
    padding: 12px 16px;
    border-radius: 20px 20px 0px 20px !important;
    border: none;
}

p-dropdown#dropdown-report {
    text-align: left;
}

.container-box {
    position: relative;
    margin: 8px;
    background: white;
    border-radius: 8px;
    height: calc(100vh - 20px);
    overflow: hidden;
}

.p-scroller-content {
    width: 100%;
}

.ck.ck-editor__editable_inline>:first-child,
.ck.ck-editor__editable_inline>:last-child {
    margin: 0px !important;
}

.p-dialog .p-dialog-content:last-of-type, .modal-body {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

#confirmation-delete .p-dialog-header {
    justify-content: center;
}

.p-dialog .p-dialog-header,.modal-header {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding: 24px;
    align-items: flex-start;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.p-dialog .p-dialog-header .p-dialog-secondary {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.p-dialog .p-dialog-header .p-dialog-header-icon>span {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 800;
    font-size: 20px;
}

.p-dialog .p-dialog-footer {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.modal-footer {
    margin-top: 40px;
    padding: 0 13px;
}

.modal-footer .btn-groupt.btn-dialog .btn {
    padding: 8px 24px;
}

.btn[disabled] {
    color: rgba(0, 0, 0, 0.38);
    background: rgba(0, 0, 0, 0.12);
    border: none;
}

.btn-cancel {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

#confirmation-delete .p-dialog-title {}

#confirmation-delete .p-dialog-header-icons {
    display: none;
}

.p-dialog-secondary {
    padding-bottom: 16px;
    border-bottom: 1px solid #eff0f2;
    min-width: 295px;
}

.content-delete {
    margin-top: 16px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 8px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    border-radius: 4px;
}

.p-dropdown-panel .p-dropdown-items {
    padding: 4px;
    border-radius: 8px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: #EFF0F2;
    color: rgba(0, 0, 0, 0.87);
}

.p-tag.p-tag-danger {
    padding: 4px 6px;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    background: #F95353;
    width: 20px;
    height: 16px;
    margin-right: 4px;
    border-radius: 9999px;
}

button.p-element.p-ripple.p-datepicker-trigger.p-button.p-component.p-button-icon-only {
    position: absolute;
    background: none;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 12px;
    height: 40px;
}

p-calendar.p-calendar-clearable .p-inputtext {
    padding-left: 38px;
}

.p-calendar {
    width: 100%;
}

span.p-calendar.p-calendar-w-btn {
    width: 100%;
}

.accordion-button::after {
    content: ""
}

input#range {
    border-radius: 8px;
}

.p-calendar .p-datepicker {
    width: 240px;
    height: 240px;
}

.p-datepicker table td>span {
    width: 24px;
    height: 24px;
}

.p-datepicker table th,
.p-datepicker table td {
    padding: 0px;
}

.p-calendar .p-datepicker {
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.1), 0px 6px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    color: #3A69DB;
    font-weight: 600;
    font-size: 14px;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next>span {
    color: #7C7C7E;
}

.accordion-button::after {
    display: none;
}

#channel-done .p-dialog .p-dialog-header {
    justify-content: center !important;
    padding: 48px;
}

#channel-done .p-dialog-header .p-dialog-header-icon>span {
    display: none !important;
}

#channel-done .p-dialog-header * {
    text-align: center;
}

#channel-done .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 16px;
}

#channel-done .p-dialog-content {
    padding-bottom: 40px;
}

.text-required {
    color: #F95353;
}


.current-chat {
    height: calc(100vh - 285px);
}

.fit-chat .p-tabview-nav {
    display: -webkit-inline-box;
}

.fit-chat .p-tabview-nav>li:first-child {
    background: #EFF0F2;
}

.fit-chat .p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link {
    padding: 8px 12px;
    background: #EFF0F2;
}

.fit-chat .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border-radius: 0px 12px 0px 0px;
}


.fit-chat .tab-2 .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-radius: 12px 12px 0px 0px;
}

.fit-chat .reply-header {
    margin-left: 8px;
}

.fit-chat li.p-highlight {
    color: #FFFFFF;
}

.fit-chat li:not(.p-highlight) {
    color: rgba(0, 0, 0, 0.38);
}

.fit-chat .p-tabview .p-tabview-nav li:first-child.p-highlight .p-tabview-nav-link {
    color: #FFFFFF;
    background: #4198FF;
    padding: 8px 12px;
}

.fit-chat .p-tabview .p-tabview-nav li:nth-child(2).p-highlight .p-tabview-nav-link {
    color: #FFFFFF;
    background: #F5A73B;
    padding: 8px 12px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    display: none !important;
}

.p-multiselect-panel .p-multiselect-items {
    padding: 0;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    padding: 12px 34px;
}

.fit-chat .p-tabview .p-tabview-panels {
    padding: 0 !important;
    border-top: 1px solid #EFF0F2;
}

.fit-chat .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: none;
}

.accordion-button.collapsed .icon-accordion {
    transform: rotate(-180deg);
}

.box-header {
    padding: 16px 24px;
    border-bottom: 1px solid #E6E6E8;
}

.max-height-box {
    max-height: calc(100vh - 85px);
    overflow: auto;
}

.color-round input {
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    width: 12px !important;
    height: 12px !important;
    padding: 0;
    margin-right: 10px;
}

.conversations-list .p-datatable-wrapper {
    height: calc(100vh - 145px);
}

.box-container {
    height: 100vh;
}

.box-contacts table tbody {
    max-height: calc(100vh - 50px);
}

.p-datatable.p-component.p-datatable-scrollable {
    height: 100%;
}

#nth0.message-text .ck.ck-editor__editable_inline>:first-child {
    margin-bottom: 15px !important;
    font-weight: 500;
}

.text-required{
    color: #F95353;
}

.add-contact .modal-footer{
    border: none;
    margin-top: 0;
    padding-bottom: 24px;
}