<div class="container-fluid">
    <div class="settings-header">
        <div class="row bg-white">
            <div class="col-12 col-header">
                <h3 class="page-title mb-0">
                    <svg width="20" height="20" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        class="icon chat-multiple header--icon">
                        <path
                            d="M9.562 3a7.5 7.5 0 0 0-6.798 10.673l-.724 2.842a1.25 1.25 0 0 0 1.504 1.524c.75-.18 1.903-.457 2.93-.702A7.5 7.5 0 1 0 9.561 3Zm-6 7.5a6 6 0 1 1 3.33 5.375l-.244-.121-.264.063c-.923.22-1.99.475-2.788.667l.69-2.708.07-.276-.13-.253a5.971 5.971 0 0 1-.664-2.747Zm11 10.5c-1.97 0-3.762-.759-5.1-2h.1c.718 0 1.415-.089 2.08-.257.865.482 1.86.757 2.92.757.96 0 1.866-.225 2.67-.625l.243-.121.264.063c.922.22 1.966.445 2.74.61-.175-.751-.414-1.756-.642-2.651l-.07-.276.13-.253a5.971 5.971 0 0 0 .665-2.747 5.995 5.995 0 0 0-2.747-5.042 8.44 8.44 0 0 0-.8-2.047 7.503 7.503 0 0 1 4.344 10.263c.253 1.008.509 2.1.671 2.803a1.244 1.244 0 0 1-1.467 1.5 132.62 132.62 0 0 1-2.913-.64 7.476 7.476 0 0 1-3.088.663Z"
                            fill="currentColor"></path>
                    </svg>
                    <span class="ms-2">Canned Responses</span>
                </h3>

                <button type="submit" class="btn btn-success" (click)="showDialog()">
                    <span>+ Add Canned Responses</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12 profile--settings">
        <div class="row">
            <div class="col-md-8">
                <p-table [value]="listData">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Short Code</th>
                            <th>Content</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>
                                <div class="agent-name">{{item.code}}</div>
                            </td>
                            <td>
                                {{item.content}}
                            </td>
                            <td>
                                <div class="button-wrapper text-end">
                                    <button class="btn btn-sm btn-primary"><i class="pi pi-sliders-h"></i></button>
                                    <button class="btn btn-sm btn-danger ms-2">
                                        <i class="pi pi-times-circle"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="col-md-4">
                <span data-v-3cf0bcca="">
                    <p><b>Canned Responses</b> </p>
                    <p> Canned Responses are saved reply templates which can be used to quickly send out a reply to a
                        conversation. </p>
                    <p> For creating a Canned Response, just click on the <b>Add Canned Response</b>. You can also edit
                        or delete an existing Canned Response by clicking on the Edit or Delete button </p>
                    <p> Canned responses are used with the help of <b>Short Codes</b>. Agents can access canned
                        responses while on a chat by typing <b>'/'</b> followed by the short code. </p>
                </span>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="display" [modal]="true" class="box-dialog"
    [style]="{width: '513px'}">
    <ng-template pTemplate="header">
        <div>
            <p class="p-dialog-title">
                Add Cancel Response
            </p>
            <p class="text-secondary">
                Canned Responses are saved reply templates which can be used to quickly send out reply to conversation.
            </p>
        </div>
    </ng-template>
    <form class="row" [formGroup]="form">
        <div class="col-md-12">
            <label class="label-input">
                <div class="text-label">Short Code</div>
                <input type="text" pInputText [(ngModel)]="model.code" formControlName="code"
                    placeholder="Please enter a short code" class="form-control">
                <div *ngIf="(f['code'].dirty || f['code'].touched || submitted) && f['code'].invalid"
                    class="text-danger">
                    <div *ngIf="f['code'].errors?.['required']">
                        Short Code is required
                    </div>
                </div>
            </label>
        </div>
        <div class="col-md-12">
            <label class="label-input">
                <div class="text-label">Content</div>
                <input type="text" pInputText [(ngModel)]="model.content" formControlName="content"
                    placeholder="Please enter a content" class="form-control">
                <div *ngIf="(f['content'].dirty || f['content'].touched || submitted) && f['content'].invalid"
                    class="text-danger">
                    <div *ngIf="f['content'].errors?.['required']">
                        Content is required
                    </div>
                </div>
            </label>
        </div>
        <div class="modal-footer">
            <div class="btn-groupt">
                <button type="submit" class="btn btn-primary" [disabled]="f['code'].errors || f['content'].errors">
                    <span>Create</span>
                </button>
                <button class="btn btn-secondary ml-2" (click)="display=false">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</p-dialog>